<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>m.chat</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>
  <section id="container">
    <section class="title">
      <strong><h1>M.Chat</h1></strong>
    </section>
    <img src="img/chat1.png" alt="chat">
    
    <h3>Login or Signup:</h3>

    <section class="homePage">
      <form action="/" method="POST">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="Password" name="password">
        <br>
        <button type="submit">Submit</button>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </form>
    </section>
  </section>

</body>
</html>
