<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M.Chat</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <h1></h1>
    <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Account</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <h4> if (user.local.email) </h4>
                    <p>
                        <strong>id</strong>:  user._id  <br>
                        <strong>email</strong>:  user.local.email <br>
                        <strong>password</strong>:  user.local.password
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Close Account</a>
                < else >
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>


            </div>
        </div>




  </body>
</html>
