<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>M.Chat</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>
  <h1>M.Chat</h1>
  <img src="img/chat1.png" alt="chat">
  
  <h2>Signup:</h2>

  <section class="signUpList">
    <form action="/signup" method="POST">
      <section class="name">
        <input type="text" placeholder="First" name="name">
        <input type="text" placeholder="Last" name="name">
      </section>
      <section class="user">
        <input type="text" placeholder="Email" name="name">
        <input type="text" placeholder="Username" name="name">
      </section>
      <section class="pass">
        <input type="text" placeholder="Password" name="password">
        <input type="text" placeholder="Confirm Password" name="password">
      </section>
      <section class="med">
        <input type="text" placeholder="Medical Profession" name="name">
        <input type="text" placeholder="License" name="password">
      </section>
      <button type="submit">Submit</button>
    </form>
    <a href="/">Login Page</a>
  </section>

</body>
</html>
